[user]
  name = Song Gao
  email = song@gao.io
[core]
  autocrlf = input
  safecrlf = true
  excludesfile = ~/.gitignore_global
  pager = less -r
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
  ui = true
[credential]
  helper = osxkeychain
[push]
  default = nothing
[http]
  cookiefile = /Users/songgao/.gitcookies
[pager]
	diff = diff-so-fancy | less --tabs=1,5 -RFX
	show = diff-so-fancy | less --tabs=1,5 -RFX
