[user]
    name = Song Gao
    email = song.gao@zoom.us
[core]
    autocrlf = false
    safecrlf = true
    excludesfile = /Users/zonggao/.gitignore_global
[alias]
    co = checkout
    cob = checkout -b
    ci = commit
    st = status
    br = branch
    type = cat-file -t
    dump = cat-file -p
    lg = log --color --graph --abbrev-commit
    me = log --author='Song Gao' --color --graph --abbrev-commit
[format]
    pretty = format:%C(yellow)%h%Creset -%d %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[color]
    ui = true
[push]
    default = nothing
[http]
    cookiefile = /Users/songgao/.gitcookies
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[rerere]
    enabled = 1
[merge]
    conflictstyle = diff3
    tool = vimdiff
[diff]
    algorithm = patience
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[mergetool "vimdiff3"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[pull]
    ff = only
[url "git@git.zoom.us:"]
	insteadOf = https://git.zoom.us
