[submodule "confs/.zprezto"]
	path = confs/.zprezto
	url = https://github.com/songgao/prezto.git
[submodule "confs/.zsh-histdb"]
	path = confs/.zsh-histdb
	url = git@github.com:larkery/zsh-histdb.git
